html,
#root,
body,
.App,
main,
.content-container {
  height: 100%;
}
html,
body {
  background-color: #212121;
  color: #ffffff;
  margin: 0;
}
p.success {
  padding: 10px;
  border: 1px solid black;
  color: white;
  background-color: #4CB963;
}
p.error {
  background-color: #F03A47;
  padding: 10px;
  border: 1px solid black;
  color: white;
}
p.loading {
  text-align: center;
}
p.loading .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-page {
  text-align: center;
  padding: 10px;
}
.error-page a {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.content-container .map-container {
  width: 80%;
}
.content-container .map-container .m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 65px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  margin-top: 10px;
}
.content-container .map-container .m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: #ffffff;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}
.content-container .map-container .m-scroll__title > div {
  display: flex;
  animation: scrollText 30s infinite linear;
}
.content-container .map-container .m-scroll__title h2 {
  margin: 0;
  font-size: 0.8em;
  transition: all 2s ease;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
.content-container .map-element-container {
  padding-left: 5px;
}
.content-container .map-element-container.admin .map {
  height: 40rem;
}
.content-container .map-element-container .map {
  margin: 0 auto;
  height: 35rem;
  padding: 10px;
  position: relative !important;
  display: block !important;
  border: 1px solid black;
}
.content-container .map-element-container .marker-label {
  width: fit-content;
  height: 0.5rem;
  color: black;
  background-color: rgba(235, 235, 235, 0.89);
  bottom: 30px;
  padding: 10px;
  position: relative;
  font-family: 'Albert Sans', sans-serif Im !important;
  font-size: 0.1rem;
}
.content-container .map-element-container .marker-label.adminPick {
  border: 2px solid yellow;
}
.content-container .map-element-container .marker-label.adding {
  background-color: #4CB963;
}
.content-container .map-element-container .marker-label.admin-mode {
  opacity: 0.7;
}
.content-container .map-element-container .marker-label.selected {
  border: 2px solid red;
  font-weight: bold;
  background-color: #ebebeb;
}
.content-container .profile-container {
  width: 20%;
  text-align: left;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  height: 100%;
  overflow-y: auto;
}
.content-container .profile-container .list-profile-container {
  font-size: 20px;
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.content-container .profile-container .list-profile-container label {
  margin: 10px;
}
.content-container .profile-container .list-profile-container input {
  margin: 10px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}
.content-container .profile-container .list-profile-container h3 {
  margin: 10px;
}
.content-container .profile-container .list-profile-container ul {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-container .profile-container .list-profile-container ul li {
  padding: 2px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-color: black;
  border-style: solid;
  transition: all 0.3s ease;
}
.content-container .profile-container .list-profile-container ul li p {
  margin: 0px 0px 0px 5px;
}
.content-container .profile-container .list-profile-container ul li span {
  font-size: 0.8rem;
  margin-left: 5px;
}
.content-container .profile-container .list-profile-container ul li:hover {
  cursor: pointer;
  background-color: #E89273;
}
.content-container .profile-container .artist-profile-container {
  margin: 5px;
  font-size: 20px;
  position: relative;
  height: 90%;
}
.content-container .profile-container .artist-profile-container .header-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-container .profile-container .artist-profile-container .back {
  font-size: 0.7em;
  cursor: pointer;
}
.content-container .profile-container .artist-profile-container p {
  margin: 5px;
}
.content-container .profile-container .artist-profile-container .adminPick {
  font-size: 0.6em;
}
.content-container .profile-container .artist-profile-container .type,
.content-container .profile-container .artist-profile-container .area {
  text-align: center;
  font-size: 0.7em;
}
.content-container .profile-container .artist-profile-container .soundcloud-url a {
  color: orange;
  text-decoration: underline;
}
.content-container .profile-container .artist-profile-container .description {
  font-size: 0.9em;
  padding: 5px;
}
.content-container .profile-container .artist-profile-container h2 {
  margin: 5px;
}
.content-container .profile-container .artist-profile-container iframe {
  width: 100%;
  height: 200px;
}
.content-container .profile-container .artist-profile-container .adminName {
  margin: 10px;
  font-size: 0.7em;
}
.content-container .add-element-container {
  padding: 10px;
  background-color: #ffffff;
  width: 25%;
  color: black;
  overflow-y: auto;
}
.content-container .add-element-container input,
.content-container .add-element-container label,
.content-container .add-element-container select,
.content-container .add-element-container button {
  margin: 5px;
  display: block;
  width: 80%;
  border-radius: 10px;
  box-shadow: none;
  border: 0px;
  font-family: 'Albert Sans', sans-serif;
}
.filters-container {
  margin: 10px;
  font-size: 1.2rem;
}
.filters-container label {
  margin: 10px;
}
.filters-container label:hover {
  cursor: pointer;
  font-weight: bold;
}
